<!DOCTYPE html>
<html lang="ko">
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>알림</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/css/freelancer.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
  	<link href='https://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
    <link href="/button_styles.css" rel='stylesheet'>
  	<link href="/css/bootstrap.css" rel='stylesheet'>

</head>
    
<body id="page-top">
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Needs</a>
        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/regionboard/boardList?board_region=<%=region%>" style="color:white;"><img class="img-fluid" src="/img/portfolio/id_region8.png" alt="">&nbsp;<%=region%></a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-fixed Black rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/regionboard/boardList?board_region=<%=region%>">지역게시판</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/freeboard/boardList">자유게시판</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/logout">Logout</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/mypage">My Page</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#portfolio">알림</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
                         
    
    
    <!-- Portfolio Grid Section -->
    
    <section class="portfolio" id="portfolio">
        <div class="container" style="padding-top:100px">
            <h3 class="text-center text-uppercase">알림</h3>
            <br><br><br>

            <center>
                
            <%
            if(action.length != 0) {    // 알림이 있는 경우
                
                var pageNum = (action.length%5==0) ? parseInt(action.length/5) : parseInt(action.length/5)+1; // 총 페이지 수 계산
                    
                if (page != pageNum) {  // 마지막 페이지가 아닌 경우
                    for(var i=(page-1)*5; i<page*5; i++) {
                        if(action[i].value == 'freedata') { // 자유게시판에 쓴 글
                %>    
                            <li><a href='/freeboard/boardRead?document_name=<%=action[i].document_name%>&visitNew=1&action=1' style='color:grey'><%=action[i].writer%>님이 게시물에 관심을 가졌습니다.</a>&emsp;&emsp;&emsp;<%=action[i].day%></li><br>   
                <%
                        }
                        else { // 지역게시판에 쓴 글  
                %>           
                            <li><a href='/regionboard/boardRead?document_name=<%=action[i].document_name%>&visitNew=1&action=1&board_region=<%=action[i].address%>' style='color:grey'><%=action[i].writer%>님이 게시물에 관심을 가졌습니다.</a>&emsp;&emsp;&emsp;<%=action[i].day%></li><br>    
                <%
                        }         
                    }
                }
                if (page == pageNum) { //else문,  마지막 페이지
                    for(var i=(page-1)*5; i<action.length; i++) {
                        if(action[i].value == 'freedata') { // 자유게시판에 쓴 글
                %>    
                            <li><a href='/freeboard/boardRead?document_name=<%=action[i].document_name%>&visitNew=1&action=1' style='color:grey'><%=action[i].writer%>님이 게시물에 관심을 가졌습니다.</a>&emsp;&emsp;&emsp;<%=action[i].day%></li><br>   
                <%
                        }
                        else { // 지역게시판에 쓴 글  
                %>           
                            <li><a href='/regionboard/boardRead?document_name=<%=action[i].document_name%>&visitNew=1&action=1&board_region=<%=action[i].address%>' style='color:grey'><%=action[i].writer%>님이 게시물에 관심을 가졌습니다.</a>&emsp;&emsp;&emsp;<%=action[i].day%></li><br>    
                <%
                        }         
                    }
                }
                %>
                <br>
                
                <!-- pagination -->
                <div class="text-center" style="display:table; margin: auto">
                    <ol class="pagination">
                        
                    <%
                    if (parseInt((page-1)/5)*5+1 != 1) {    // 1~5페이지가 보이는 경우가 아니면 이전 버튼 출력
                    %>  
                    <a href="action?page=<%=parseInt((page-1)/5)*5%>" style="color: black; font-size: 18px; font-weight: bold; padding: 10px">〈 </a> 
                    <%
                    }
                    %>   
                    
                    <%
                    for(var i=parseInt((page-1)/5)*5+1; i<=parseInt((page-1)/5)*5+5; i++) {
                        if(i > pageNum) {   // 마지막 페이지 번호까지 출력했으면 break
                            break;
                        }
                    %>
                    <a href="action?page=<%=i%>" style="color: black; font-size: 18px; padding: 10px">     
                        <% if(i == page) { // 현재 페이지는 진하게 표시 %>
                             <span style="color:#1169e1; font-weight:bold;"><%= i %></span>
                        <% } 
                           else { %>
                             <%= i %>
                        <% } %>  
                    </a>
                    <%
                    }
                    %>
                    
                    <%
                    if (parseInt((page-1)/5)*5+5 < pageNum) { // 해당 페이지에서 보이는 다섯 페이지의 다음 페이지가 존재하는 경우 다음 버튼 출력
                    %>
                    <a href="action?page=<%=(parseInt((page-1)/5)+1)*5+1%>" style="color: black; font-size: 18px; font-weight: bold; padding: 10px"> 〉</a>  
                    <%
                    }                                     
                    %>    
                        
                    </ol>
                </div>
                
                
            <%    
            }
            
            else {  // 알림이 없는 경우
            %>
                알림이 없습니다.
            <%
            }
            %>
                
            </center>
            <br><br>

        </div>
    </section> 
                         
</body>
</html>
             
