<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>글 목록</title>
</head>
<body>
    
    <%
    var pageNum = (board.length%5==0) ? parseInt(board.length/5) : parseInt(board.length/5)+1; // 총 페이지 수 계산 
    %>
    
    
	<table border="1" style="width:600px">
        
        <caption><h1>글 목록</h1></caption>
		<colgroup>
			<col width='8%' />
			<col width='*%' />
			<col width='15%' />
			<col width='27%' />
            <col width='10%' />
            <col width='10%' />
		</colgroup>
        
		<thead>        
			<tr>
				<th>No.</th> 
				<th>제목</th>
				<th>작성자</th>
				<th>작성시간</th>
                <th>조회수</th>
                <th>좋아요</th>
			</tr>
		</thead>
        
		<tbody>
        <%
        if (page != pageNum) {  // 마지막 페이지가 아닌 경우
			 for(var i=(page-1)*5; i<page*5; i++) {
		%>    
			     <tr>
				    <td><%=board.length-i%></td>
				    <td><a href="boardRead?document_name=<%=board[i].document_name%>&visitNew=1&page=<%=page%>"><%=board[i].title%></a></td>
				    <td><%=board[i].write%></td>
				    <td><%=board[i].day%></td>
                    <td><%=board[i].visit_num%></td>
                    <td><%=board[i].good_num%></td>
			     </tr>
		<%
			 }
        }
        %>          
        <%
        if (page == pageNum) { //else문,  마지막 페이지
            for(var i=(page-1)*5; i<board.length; i++) {
        %>   
                <tr>
				    <td><%=board.length-i%></td>
				    <td><a href="boardRead?document_name=<%=board[i].document_name%>&visitNew=1&page=<%=page%>"><%=board[i].title%></a></td>
				    <td><%=board[i].write%></td>
				    <td><%=board[i].day%></td>
                    <td><%=board[i].visit_num%></td>
                    <td><%=board[i].good_num%></td>
			     </tr>        
        <%
            }
        }
        %>    
		</tbody>
        
	</table>
    
    
    <form name="form1" action="boardWrite" method="get">
        <pre>                                                                                     <input type="submit" value="글쓰기"></pre>
    </form>
    
    <h3>        
    <%
    if (parseInt((page-1)/5)*5+1 != 1) {    // 1~5페이지가 보이는 경우가 아니면 이전 버튼 출력
    %>  
        <a href="boardList?page=<%=parseInt((page-1)/5)*5%>"> ◀이전 </a> 
    <%
    }
    
    for(var i=parseInt((page-1)/5)*5+1; i<=parseInt((page-1)/5)*5+5; i++) {
        if(i > pageNum) {   // 마지막 페이지 번호까지 출력했으면 break
            break;
        }
    %>
        <a href="boardList?page=<%=i%>"><%= i %></a>
    <%
    }
    
    if (parseInt((page-1)/5)*5+5 < pageNum) { // 해당 페이지에서 보이는 다섯 페이지의 다음 페이지가 존재하는 경우 다음 버튼 출력
    %>
        <a href="boardList?page=<%=(parseInt((page-1)/5)+1)*5+1%>"> 다음▶ </a>  
    <%
    }                                     
    %>                                          
    </h3> 
    
</body>
</html>
