<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>글 읽기</title>
	<!-- Bootstrap core CSS -->
	<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom fonts for this template -->
	<link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

	<!-- Plugin CSS -->
	<link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

	<!-- Custom styles for this template -->
	<link href="../css/freelancer.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
	<link href="../button_styles.css" rel='stylesheet'>
	<link href="../css/bootstrap.css" rel='stylesheet'>
	<style>
		.table-bordered tbody tr th{
			width:20%;
		}
	</style>
</head>
    
<body id="page-top">

	<!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
		<div class="container">
		  <a class="navbar-brand js-scroll-trigger" href="/">Needs</a>
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/regionboard/boardList?board_region=<%=id_region%>" style="color:white;"><img class="img-fluid" src="/img/portfolio/id_region8.png" alt="">&nbsp;<%=id_region%></a>
		  <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-fixed Black rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			Menu
			<i class="fa fa-bars"></i>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item mx-0 mx-lg-1">
				<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/regionboard/boardList?board_region=<%=id_region%>">지역게시판</a>
			  </li>  
			  <li class="nav-item mx-0 mx-lg-1">
				<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/freeboard/boardList">자유게시판</a>
			  </li>
			  <li class="nav-item mx-0 mx-lg-1">
				<a class="nav-link py-3 px-0 px-lg-3 rounded" href="/logout">Logout</a>
			  </li>
			  <li class="nav-item mx-0 mx-lg-1">
				<a class="nav-link py-3 px-0 px-lg-3 rounded" href="/mypage">My Page</a>
			  </li>
			  <li class="nav-item mx-0 mx-lg-1">
				<a class="nav-link py-3 px-0 px-lg-3 rounded" href="/action">알림</a>
			  </li>
			</ul>
		  </div>
		</div>
	  </nav>

	<section class="portfolio" id="portfolio">
		<div class="container" style="padding-top:100px">
			<!-- 자신이 쓴 글일 경우에만 수정 / 삭제 가능 -->
			<%
			if(board.id_uid == user.id_uid) {
			%>
				<pre class="pull-right">
				<a href="boardWrite?document_name=<%=board.document_name%>&page=<%=page%>" style="color: #212529"> 수정 | </a><a href="boardDelete?document_name=<%=board.document_name%>&title=<%=board.title%>&content=<%=board.content%>" style="color: #212529">삭제 </a>
				</pre>
			<%
			}
			%>

                
			<table class="table table-bordered">
				<tbody>
					<tr>
                        <th>제목</th> 
                        <td><%=board.title%></td> 
                    </tr>
                    <tr>
                        <th>작성자</th> 
                        <td><%=board.id_nickName%></td> 
                    </tr>
                    <tr>
                        <th>작성시간</th> 
                        <td><%=board.day%></td> 
                    </tr>
                    <tr>
                        <th>조회수</th>
                        <td><%=board.visit_num%></td>
                    </tr>
					<tr>
						<th>내용</th>
						<td class="form-control" style="min-height: 200px; width: 100%"><%=board.content%></td>
					</tr>
					
				</tbody>
			</table>
            
            
			<!--  좋아요  -->
			<div style="float:left">
				<form name="form1" action="boardLike" method="post"> 
                    <button type="button" class="dropbtn" class="pull-left" onclick="form1.submit()" style="background:#ffffff; border:#ffffff">
                        <% if(like == 1) { %>
                            <div id="heart" class="fa fa-heart" style="font-size:25px;color:red"></div>
                        <% }
                           else { %>
                            <div id="heart" class="fa fa-heart" style="font-size:25px;color:dimgrey"></div>
                        <% } %>
                    </button><%=board.good_num%>
                    
					<input type="hidden" name="document_name" value="<%=board.document_name%>">    
					<input type="hidden" name="page" value="<%=page%>">
					<input type="hidden" name="id_nickName" value="<%=user.id_nickName%>">
					<input type="hidden" name="id_email" value="<%=user.id_email%>">
				</form>
			</div>
            <br><br><br>
            
            <script>
                if(like == 1) { // 좋아요한 게시물인 경우
                    const BASE_COLOR = "red";
                    const OTHER_COLOR = "dimgrey";
                }
                else {  // 좋아요하지 않은 게시물인 경우
                    const BASE_COLOR = "dimgrey";
                    const OTHER_COLOR = "red";
                }
                const heart = document.querySelector("#heart"); 
                
                function handClick(){
                    const currentColor = heart.style.color;
                    if(currentColor === BASE_COLOR){
                        heart.style.color = OTHER_COLOR;
                    } else{
                        heart.style.color = BASE_COLOR;
                    }
                }
                function init(){    //초기화값
                    heart.style.color = BASE_COLOR;
                    heart.addEventListener("click",handClick);
                }
        
                init(); //초기값 실행    
            </script>
            
            
			<!--  목록  -->	
            <form name="form3" action="boardList" method="get">
                <button class="btn btn-primary btn-xl pull-right" style="background: #18bc9c; width: 110px; height: 50px">목록&nbsp;<i class="fa fa-bars"></i></button>
                <input type="hidden" name="page" value="<%=page%>">
            </form>   
		</div>	
	</section>		  
    <br><hr>       
    
    
    <!-- 댓글 읽기-->
	<div class="container" style="padding-top:100px">
    <caption><h3>댓글(<%=reply.length%>)</h3></caption><br><br>
        
        <form name="form2" action="commentSave" method="post">
              <textarea name="contentReply" placeholder="댓글을 입력하세요." class="autosize" onkeydown="resize(this)" onkeyup="resize(this)" class="form-control" style="width: 100%"></textarea>
              <input type="hidden" name="data_doc" value="<%=board.document_name%>">
              <input type="hidden" name="writerReply" value="<%=user.id_nickName%>">
              <input type="hidden" name="id_uid" value="<%=board.id_uid%>">
              <input type="hidden" name="page" value="<%=page%>">
              <input type="submit" value=등록 onClick="form2.submit()" class="pull-right">
		</form>
        <br><br><br>
        
        
		<%   
		if(reply.length != 0) {     // 댓글이 존재하면 댓글을 출력
		%>
		<%
		for(var i=0; i<reply.length; i++) {
		%>
		<!-- 자신이 쓴 댓글일 경우에만 수정 / 삭제 가능 -->
		<%
		if(reply[i].id_uid == user.id_uid) {
		%>
				<pre class="pull-right"><a href="commentEdit?data_doc=<%=board.document_name%>&reply_doc=<%=reply[i].reply_doc%>&page=<%=page%>" style="color: #212529"> 수정 | </a><a href="commentDelete?data_doc=<%=board.document_name%>&reply_doc=<%=reply[i].reply_doc%>&page=<%=page%>" style="color: #212529">삭제 </a></pre>
		<%
		}
		%>
    
			<table class="table table-bordered">
															
					<tbody>
					<tr>
							<th>이름</th>
							<td><%=reply[i].writerReply%></td>      
					</tr>
					<tr>
							<th>내용</th>
							<td style="word-break:break-all;" wrap="hard">
								<%=reply[i].contentReply%>
							</td>      
					</tr>
					<tr>
							<th>작성시간</th>
							<td><%=reply[i].timeReply%></td>      
					</tr>
					</tbody>
					
			</table>
      <br>
				<%
				}
				%>
		<%
		}
		%>
	</div>
	<br><br>
		
	<script>
		function resize(obj) {
			obj.style.height = "1px";
			obj.style.height = (12+obj.scrollHeight)+"px";
		}
	</script>

	<!-- Bootstrap core JavaScript -->
	<script src="../vendor/jquery/jquery.min.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

	<!-- Contact Form JavaScript -->
	<script src="../js/jqBootstrapValidation.js"></script>
	<script src="../js/contact_me.js"></script>

	<!-- Custom scripts for this template -->
	<script src="../js/freelancer.min.js"></script>
	<script src="../js/jquery-3.1.1.js"></script>
	<script src="../js/bootstrap.js"></script>
</body>
</html>
