<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>댓글 수정</title>
</head>
    
<body>
	<form name="form1" action="commentSave" method="post">
        <caption><h3>댓글 수정</h3></caption><br> 
        
        내용 : <textarea name="contentReply" cols=40 rows=6><%=reply.contentReply%></textarea>&nbsp;
        <input type="hidden" name="data_doc" value="<%=reply.data_doc%>">
        <input type="hidden" name="reply_doc" value="<%=reply.reply_doc%>">
        <input type="hidden" name="page" value="<%=page%>">
        <input type="hidden" name="board_region" value="<%=board_region%>">
        <input type="submit" value=수정 onClick="form1.submit()">      
        
	</form>	
</body>
</html>
