<!DOCTYPE html>
<html lang="ko">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>내가 공감한 글</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="../https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="../vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../css/freelancer.min.css" rel="stylesheet">
    <link href="../https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
  	<link href='../https://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
  	<link href="../button_styles.css" rel='stylesheet'>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Needs</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-fixed Black rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/mypage/editInfo">개인정보 수정</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/mypage/myPost/freeboard">내 글(자유 게시판)</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/mypage/myPost/regionboard">내 글(지역 게시판)</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/mypage/myLikePost">내가 공감한 글</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/mypage/myCommentPost">내가 댓글 남긴 글</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="portfolio" id="portfolio">
      <div class="container" style="padding-top:100px">
        <%
        if(board.length != 0) {  // 글이 존재할 경우
            var pageNum = (board.length%5==0) ? parseInt(board.length/5) : parseInt(board.length/5)+1; // 총 페이지 수 계산 
        %>
        <h3 class="text-center text-uppercase">내가 공감한 글</h3>
        <br><br><br>
          
        <table class="table table-hover">
          <colgroup>
            <col width='13%' />
            <col width='*%' />
            <col width='10%' />
            <col width='27%' />
            <col width='10%' />
            <col width='10%' />
          </colgroup>
          <thead>        
            <tr>
              <th><center>No.</center></th>
              <th><center>제목</center></th>
              <th><center>작성자</center></th>
              <th><center>작성시간</center></th>
              <th><center>조회수</center></th>
              <th><center>좋아요</center></th>
            </tr>
          </thead>
          <tbody>
            <%
            if (page != pageNum) {  // 마지막 페이지가 아닌 경우
                for(var i=(page-1)*5; i<page*5; i++) {
            %> 
            <tr>
              <td style="text-align:center"><%= board.length-i %></td>
              <% 
                if(boardType[i] == "freeData"){
              %>
              <td><a href="../../freeboard/boardRead?document_name=<%=board[i].document_name%>&visitNew=1&page=<%=page%>" style="color: black"><%=board[i].title%></a></td>
              <% } else { %>
              <td><a href="../../regionboard/boardRead?document_name=<%=board[i].document_name%>&visitNew=1&page=<%=page%>&board_region=<%=address[i]%>" style="color: black"><%=board[i].title%></a></td>
              <% } %>
              <td style="text-align:center"><%= board[i].id_nickName %></td>
              <td style="text-align:center"><%= board[i].day %></td>
              <td style="text-align:center"><%= board[i].visit_num %></td>
              <td style="text-align:center"><%= board[i].good_num %></td>
            </tr>
            <% }} %>
              
            <%
            if (page == pageNum) {  // 마지막 페이지인 경우
                for(var i=(page-1)*5; i<board.length; i++) {
            %> 
            <tr>
              <td style="text-align:center"><%= board.length-i %></td>
              <% 
                if(boardType[i] == "freeData"){
              %>
              <td><a href="../../freeboard/boardRead?document_name=<%=board[i].document_name%>&visitNew=1&page=<%=page%>&address=<%=address%>" style="color: black"><%=board[i].title%></a></td>
              <% } else { %>
              <td><a href="../../regionboard/boardRead?document_name=<%=board[i].document_name%>&visitNew=1&page=<%=page%>&board_region=<%=address[i]%>" style="color: black"><%=board[i].title%></a></td>
              <% } %>
              <td style="text-align:center"><%= board[i].id_nickName %></td>
              <td style="text-align:center"><%= board[i].day %></td>
              <td style="text-align:center"><%= board[i].visit_num %></td>
              <td style="text-align:center"><%= board[i].good_num %></td>
            </tr>
            <% }} %>
          </tbody>
        </table>
        <br><br><br><hr/>
          
          
        <!-- pagination -->
        <div class="text-center" style="display:table; margin: auto">
          <ol class="pagination">
            <%
            if (parseInt((page-1)/5)*5+1 != 1) {    // 1~5페이지가 보이는 경우가 아니면 이전 버튼 출력
            %>  
            <a href="myPost?page=<%=parseInt((page-1)/5)*5%>" style="color: black; font-size: 18px; font-weight: bold; padding: 10px">〈 </a> 
            <%
            }
            %>   
            
            <%
            for(var i=parseInt((page-1)/5)*5+1; i<=parseInt((page-1)/5)*5+5; i++) {
                if(i > pageNum) {   // 마지막 페이지 번호까지 출력했으면 break
                    break;
                }
            %>
            <a href="myPost?page=<%=i%>" style="color: black; font-size: 18px; padding: 10px">
                <% if(i == page) { // 현재 페이지는 진하게 표시 %>
                     <span style="color:#1169e1; font-weight:bold;"><%= i %></span>
                <% } 
                    else { %>
                      <%= i %>
                <% } %>  
            </a>
            <%
            }
            %>
            
            <%
            if (parseInt((page-1)/5)*5+5 < pageNum) { // 해당 페이지에서 보이는 다섯 페이지의 다음 페이지가 존재하는 경우 다음 버튼 출력
            %>
            <a href="myPost?page=<%=(parseInt((page-1)/5)+1)*5+1%>" style="color: black; font-size: 18px; font-weight: bold; padding: 10px"> 〉</a>  
            <%
            }                                     
            %>
          </ol>
        </div>
          
        <% } else {%>
          <h3 class="text-center text-uppercase">글이 존재하지 않습니다.</h3>
        <% } %>
      </div>
    </section>


    <!-- Footer -->
    <footer class="footer text-center" style="margin-top:300px">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">위치</h4>
            <p class="lead mb-0">서울특별시
              </p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">

          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">문의</h4>
            <p class="lead mb-0">02) XXX - XXXX</p>
          </div>
        </div>
      </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small> (주)Needs</small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="../vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../js/jqBootstrapValidation.js"></script>
    <script src="../js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/freelancer.min.js"></script>
    <script src="../js/jquery-3.1.1.js"></script>
    <script src="../js/bootstrap.js"></script>

  </body>

</html>
